.Flags {

    padding: 8px 10px; 
    border: solid 2px #81D742;
    justify-content: center;
    border-radius: 20px;
    gap: 3px;
}

.Flags img {

    width: 31px;
    height: 22px;
    border-radius: 11px;
}